@media only screen and (max-width: 1440px) {
    .wrapper{
        padding: 0 15px;
    }
    .banner-img img {
        width: 100%;
    }
    h1 {
        font-size: 42px;
        line-height: 52px;
    }
    .banner-txt h1 {
        margin-bottom: 20px;
    }
    .banner-txt p {
        margin-bottom: 30px;
        margin-left: 0;
    }
    .tab-con .input-group{
        padding: 0;
    }
    .banner-txt .generic-btn a {
        padding: 20px 36px;
    }
    .banner-txt .generic-btn a {
        padding: 20px 30px;
    }
    .tab-con {
        padding-top: 100px;
    }
    .tab-con-heading p {
        max-width: 50%;
    }
    .info-sec {
        padding-top: 300px;
        padding-bottom: 150px;
    }
    .info-sec .section-heading {
        margin-bottom: 65px;
    }
    .text-img-sec {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .text-img img {
        width: 100%;
    }
    .veiw-list .tab-content img {
        width: 100%;
    }
    .solution-sec {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .solution-sec .section-heading {
        margin-bottom: 60px;
    }
    .solution-boxes ul li {
        padding: 48px 30px 48px;
    }
    .testimonial-sec {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .testimonial-text p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }
    .cta-section {
        padding-top: 180px;
        padding-bottom: 180px;
    }
    .footer-con {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
}
@media only screen and (max-width: 1199px) {
    .banner-txt .generic-btn a:first-child {
        padding: 22px 36px;
    }
    .banner-txt .generic-btn a:last-child {
        padding: 22px 50px 22px 49px;
    }
    .header-con .navbar-light .navbar-nav .nav-item {
        padding: 0 12px;
    }
    h1 {
        font-size: 38px;
        line-height: 46px;
    }
    .banner-txt h1 {
        margin-bottom: 14px;
    }
    .extra-large-bubble {
        width: 150px;
        height: 150px;
    }
    .large-bubble {
        width: 200px;
        height: 200px;
    }
    .banner-con {
        padding-top: 120px;
        padding-bottom: 90px;
    }
    .main-logo-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .logo-con figure{
        padding: 0 15px;
    }
    .logo-con figure img{
        width: 120px;
    }
    .logo-con {
        padding: 0;
    }
    .tab-con {
        padding-top: 95px;
    }
    .tab-con-heading p {
        max-width: 53%;
    }
    .tab-con .nav-tabs {
        margin: 0 auto 30px;
    }
    h2 {
        font-size: 36px;
        line-height: 44px;
    }
    .info-sec .section-heading {
        margin-bottom: 55px;
    }
    .wrapper2{
        padding: 0 15px;
    }
    .large-heading {
        margin-bottom: 12px;
    }
    .text-img {
        padding: 0 15px;
    }
    .text-large-round {
        bottom: 52px;
        width: 200px;
        height: 200px;
    }
    .section-heading {
        width: 90%;
    }
    .text-img-sec {
        padding-top: 80px;
    }
    .solution-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .info-second-con .info-items {
        padding: 60px 25px 0;
    }
    .info-inner-left {
        padding: 30px 20px;
    }
    .user-form ul {
        margin-bottom: 26px;
    }
    .info-inner-con {
        padding: 46px 99px 46px 78px;
    }
    .pricing-table-con {
        padding: 40px 38px;
    }
    .pricing-table-item {
        padding: 26px 18px;
    }
    .pricing-table-item ul li {
        padding: 7px 13px;
    }
    .pricing-btn a {
        padding: 13px 46px;
    }
    .info-sec {
        padding-top: 280px;
        padding-bottom: 120px;
    }
    .veiw-list .tab-content .tab-pane{
        width: 466px;
    }
    .veiw-list .tab-content::after {
        top: 26px;
        width: 400px;
        height: 400px;
    }
    .veiw-list .nav-pills .nav-link {
        padding: 20px 14px;
    }
    .veiw-list .nav-pills .nav-link i {
        font-size: 20px;
        padding-right: 8px;
    }
    .veiw-list #v-pills-tab {
        right: 17px;
        box-shadow: 0 0 45px 6px rgb(28 29 35 / 39%);
    }
    .veiw-medium-round {
        width: 150px;
        height: 150px;
    }
    .veiw-list .tab-content .tab-pane{
        box-shadow: -8px -1px 20px rgb(28 29 35 / 39%);
    }
    .solution-sec .section-heading {
        margin-bottom: 50px;
    }
    .solution-boxes ul li {
        padding: 40px 20px;
    }
    .testimonial-sec {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .testimonial-text p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 28px;
    }
    .cta-content h3 {
        margin-bottom: 34px;
    }
    .cta-section {
        padding-top: 148px;
        padding-bottom: 140px;
    }
    .footer-con {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer-content .footer-left-con li {
        margin-left: 2px;
        margin-right: 2px;
    }
    .footer-right-con li a {
        font-size: 16px;
        line-height: 20px;
    }
    .cta-content .cta-buttons a:first-child {
        padding: 14px 32px;
    }
    .cta-content .cta-buttons a:last-child {
        padding: 14px 52px;
    }
    
}
@media only screen and (max-width: 991px) {
    .banner-txt .generic-btn a:first-child {
        padding: 18px 24px;
    }
    .banner-txt .generic-btn a:last-child {
        padding: 18px 37px 18px 38px;
        letter-spacing: 0.4px;
    }
    .veiw-list .nav-pills .nav-link {
        padding: 16px 14px;
    }
    .veiw-list .tab-content img {
        width: 400px;
    }
    .login-btn a {
        margin-left: 16px;
    }
    .header-con .navbar-light .navbar-nav .nav-item {
        padding: 8px 16px;
    }
    .nav-btn {
        margin-bottom: 16px;
    }
    .banner-img img {
        width: 500px;
    }
    .banner-img {
        left: 0;
    }
    .banner-txt p {
        max-width: 100%;
        margin-bottom: 18px;
    }
    .banner-img img {
        width: 450px;
    }
    .main-logo-sec {
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: auto;
    }
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .banner-con{
        text-align: center;
    }
    .extra-large-bubble {
        right: 60px;
        bottom: 80px;
    }
    .navbar-brand figure img{
        width: 230px; 
    }
    .header-con {
        padding: 12px 0;
    }
    .navbar-toggler{
        right: 0;
        top: 20px;
        padding: 0;
        width: 32px;
        border: none;
        position: absolute;
    }
    .navbar-toggler-icon{
        float: left;
        width: 100%;
        height: 2px;
        margin: 3px 0;
        background: #2a3b7d;
    }
    .navbar-toggler:focus{
        outline: none;
    }
    .navbar-toggler .navbar-toggler-icon:nth-child(1),
    .navbar-toggler .navbar-toggler-icon:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(1) {
    position: absolute;
    top:8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 0px;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(3) {
    position: absolute;
    top:8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    left: 0px;
    }
    .navbar-collapse.collapse,.navbar-collapse.collapsing{
        width: 100%;
        right: 0;
        border-radius: 12px;
        top: 100%;
        position: absolute;
        background: #fff;
        box-shadow: 2px 2px 18px rgb(28 29 35 / 39%);
    }
    .logo-con {
        grid-template-columns: none;
        grid-auto-flow: column;
        gap: 138px;
        padding-left: 71px;
    }
    .tab-con {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    h2 {
        font-size: 32px;
        line-height: 38px;
    }
    .tab-con-heading h2 {
        margin-bottom: 20px;
    }
    .tab-con-heading p {
        max-width: 80%;
    }
    .tab-con .input-group a i {
        width: 40px;
        height: 40px;
    }
    .info-sec .section-heading {
        margin-bottom: 45px;
    }
    .info-inner-con:before {
        width: 590px;
    }
    .info-inner-con {
        padding: 35px 20px;
    }
    .cancle-btn {
        width: 47.4%;
    }
    .user-form a {
        padding: 9px 20px 10px;
    }
    .account-info small {
        font-size: 20px;
    }
    .account-info {
        padding: 22px 15px;
    }
    .account-info:before {
        left: 26%;
        width: 60px;
        height: 60px;
    }
    .user-con .section-heading p {
        margin-bottom: 18px;
    }
    .info-inner-heading h4 {
        font-size: 22px;
    }
    .info-second-con .info-items {
        padding: 32px 20px 0;
    }
    .info-items .account-info {
        margin-bottom: 28px;
    }
    .info-items img {
        left: 0;
        bottom: -104px;
        width: 100%;
    }
    .info-items2 img {
        left: 0;
    }
    .pricing-table-con:after {
        width: 464px;
        height: 364px;
        background-size: contain;
    }
    .pricing-table-con {
        padding: 28px 20px;
    }
    h4 {
        font-size: 18px;
        line-height: 18px;
    }
    .pricing-btn a {
        font-size: 14px;
        padding: 10px 22px;
    }
    .info-sec {
        padding-top: 280px;
        padding-bottom: 100px;
    }
    .text-img img {
        width: 450px;
    }
    .text-img figure {
        text-align: center;
    }
    .text-medium-round {
        right: 180px;
    }
    .text-large-round {
        bottom: 86px;
        width: 100px;
        left: 156px;
        height: 100px;
    }
    .text-img-sec {
        padding-top: 70px;
    }
    .text-img-sec,.user-con{
        text-align: center;
    }
    .veiw-list .tab-content .tab-pane {
        width: 450px;
        margin: 0 auto;
    }
    .veiw-list .tab-content::after {
        width: 350px;
        height: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 36px;
    }
    .user-con {
        padding-bottom: 70px;
    }    
    .solution-sec {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .veiw-medium-round {
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translateX(-170%);
        bottom: -70px;
    }
    .veiw-list #v-pills-tab {
        right: 56px;
        width: 25.5%;
        box-shadow: 0 0 13px 2px rgb(28 29 35 / 39%);
    }
    .veiw-small-round {
        top: 7px;
    }
    .solution-boxes ul {
        grid-gap: 20px;
        grid-template-columns: 31% 31% 31%;
    }
    .solution-boxes ul li {
        padding: 32px 20px;
    }
    .term2-small-round {
        width: 50px;
        height: 50px;
        bottom: 186px;
    }
    .section-heading {
        width: 100%;
    }
    .veiw-list {
        margin-bottom: 100px;
    }
    .testimonial-sec {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .testimonial-sec .carousel-control-next, .testimonial-sec .carousel-control-prev {
        top: 24%;
    }
    .testimonial-sec .carousel-control-next span, 
    .testimonial-sec .carousel-control-prev span {
        height: 40px;
        width: 40px;
    }
    .cta-section {
        padding-top: 100px;
        padding-bottom: 92px;
    }
    .cta-content .cta-buttons a:first-child {
        padding: 14px 24px;
    }
    .cta-content .cta-buttons a:last-child {
        padding: 14px 38px;
    }
    .footer-con {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-right-con li:first-child {
        margin-right: 6px;
        padding-right: 8px;
        line-height: 24px;
    }
    .secondary-btn a {
        padding: 10px 30px;
    }
    .footer-right-con li a {
        font-size: 14px;
    }
    .footer-right-con li:last-child {
        padding-left: 5px;
    }
    .secondary-btn a {
        padding: 6px 12px;
    }
}
@media only screen and (max-width: 767px) {
    .banner-txt .generic-btn a:first-child {
        padding: 16px 19px;
    }
    .banner-txt .generic-btn a:last-child {
        padding: 16px 32px 16px 33px;
    }
    .info-inner-heading h4 {
        line-height: 24px;
    }
    .term-medium-round {
        width: 100px;
        height: 100px;
        bottom: 96px;
    }
    .user-form a {
        padding: 9px 16px 8px;
    }
    .user-form ul {
        margin-bottom: 16px;
    }
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .tab-con-heading {
        margin-bottom: 24px;
    }
    .banner-con .row {
        padding: 0 0;
    }
    .tab-con-heading p {
        max-width: 100%;
    }
    .logo-con figure img {
        width: 88px;
    }
    .logo-con figure {
        padding: 0;
    }
    .logo-con {
        gap: 100px;
        padding-left: 44px;
    }
    .tab-con {
        padding-top: 50px;
    }
    .tab-con .nav-tabs{
        width: 100%;
    }
    .tab-con .nav-tabs .nav-link.active {
        padding: 7px 30px 6px 30px;
    }
    .tab-con .input-group a i {
        width: 35px;
        height: 35px;
    }
    .tab-con .input-group a{
        padding: 0;
    }
    .tab-con .tab-pane img{
        padding: 12px;
        box-shadow: 12px 14px 15px rgb(28 29 35 / 39%);
    }
    .info-inner-right {
        width: 52%;
        z-index: 1;
        position: relative;
    }
    .info-sec .section-heading {
        margin-bottom: 29px;
    }
    .info-inner-con:before {
        top: -28px;
        left: -333px;
    }
    .veiw-detalis span {
        padding: 0;
    }
    .input-radio {
        padding: 6px 6px;
    }
    .info-inner-con:after {
        top: 16px;
        left: 29%;
    }
    .info-inner-con {
        padding: 25px 15px;
    }
    .info-inner-left {
        padding: 20px 10px;
    }
    .round-ball:before {
        top: 5px;
        left: 25%;
        width: 35px;
        height: 35px;
    }
    .cancle-btn {
        width: 47%;
    }
    .account-info {
        padding: 15px 12px;
        width: 100%;
        border-radius: 12px;
    }
    .account-info span {
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .account-info:before {
        top: 6px;
        left: 26%;
        width: 55px;
        height: 55px;
    }
    .info-inner-left {
        box-shadow: 12px 12px 25px rgb(0 0 0 / 66%);
    }.info-second-con .info-items {
        padding: 15px 15px 0;
    }
   .info-second-con .row{
    gap: 30px;
   }
   .info-inner-heading h4 br{
    display: none;
   }
   .info-items img {
    bottom: 0;
    }
    h3 {
        font-size: 24px;
    }
    .cta-content h3 {
        margin-bottom: 24px;
    }
    .footer-content {
        gap: 4px;
    }
    .solution-sec .section-heading {
        margin-bottom: 40px;
    }
    .info-second-con .account-info:before {
        top: 6px;
        left: 31%;
    }
    .term-small-round {
        left: 5px;
        z-index: 1;
        bottom: 173px;
    }
    .info-items2 img {
        bottom: inherit;
    }
    .pricing-table {
        width: 100%;
    }
    .pricing-table-title h3{
        margin-bottom: 30px;
    }
    .text-img-sec {
        padding-top: 40px;
    }
    .text-img img {
        width: 380px;
    }
    .user-con {
        padding-bottom: 40px;
    }
    .solution-boxes ul {
        grid-template-columns: 46% 46%;
    }
    .testimonial-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .testimonial-text p br{
        display: none;
    }
    .testimonial-sec .carousel-control-next, .testimonial-sec .carousel-control-prev{
        top: 100%;
        left: auto;
        position: relative;
        transform: none;
        display: inline-block;
    }
    .cta-section {
        padding-top: 74px;
        padding-bottom: 70px;
    }
    .cta-content .cta-buttons a:first-child , .cta-content .cta-buttons a:last-child{
        padding: 12px 20px;
    }
    .footer-content{
        flex-direction: column;
        gap: 10px;
    }
    .secondary-btn a {
        padding: 10px 26px;
    }
}
@media only screen and (max-width: 575px){
    .footer-con {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .banner-txt .generic-btn a:first-child {
        padding: 13px 13px;
        font-size: 14px;
        margin-bottom: 0;
    }
    body {
        font-size: 14px;
    }
    .banner-txt .generic-btn a:last-child {
        padding: 13px 22px;
        font-size: 14px;
    }
    .navbar-brand figure img {
        width: 200px;
    }
    .banner-con {
        padding-bottom: 60px;
    }
    .separator-bottom:after {
        border-radius: 321% / 157%;
    }
    .separator-top:after {
        border-radius: 321% / 157%;
    }
    .veiw-list .tab-content img {
        width: 100%;
    }
    .veiw-list .nav-pills .nav-link {
        padding: 16px 14px;
        width: 50%;
    }
    .veiw-list .nav-pills .nav-link:first-child {
        border-radius: 12px 0 0 0;
    }
    .veiw-list .nav-pills .nav-link:nth-child(2){
        border-radius: 0 12px 0 0;
    }
    .veiw-list .nav-pills .nav-link:nth-child(3){
        border-radius: 0 0 0 12px;
    }
    .veiw-list .nav-pills .nav-link:last-child{
        border-radius: 0 0 12px 0;
    }
    .veiw-list .nav-pills .nav-link i {
        font-size: 16px;
        padding-right: 8px;
    }
    .user-con .section-heading .generic-btn a {
        padding: 15px 30px;
        margin-bottom: 0;
    }
    .solution-sec .section-heading {
        margin-bottom: 30px;
    }
    .tab-con .tab-pane {
        width: 100%;
    }
    .tab-con .tab-pane img {
        border-radius: 12px;
        box-shadow: 5px 5px 15px rgb(28 29 35 / 39%);
    }
    .tab-con .nav-tabs {
        border-radius: 15px;
        padding: 11px 12px 9px;
        justify-content: flex-start;
    }
    .banner-txt .generic-btn a {
        padding: 14px 40px;
    }
    h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .banner-img img {
        width: 100%;
    }
    .generic-btn a:first-child{
        margin-bottom: 10px;
        padding: 14px 25px;
    }
    .large-bubble {
        width: 120px;
        height: 120px;
        left: 0px;
    }
    .tab-con .input-group{
        bottom: -20px;
        left: auto;
        position: relative;
        transform: none;
        display: inline-block;
    }
    h2 {
        font-size: 25px;
    }
    .medium-heading {
        font-size: 14px;
        line-height: 24px;
    }
    .tab-con .nav-tabs {
        margin: 0 auto 40px;
    }
    .info-form-con .section-heading p br{
        display: none;
    }
    .small-heading{
        font-size: 11px;
    }
    .solution-boxes ul {
        grid-template-columns: 100%;
    }
    .veiw-list .tab-content .tab-pane {
        width: 100%;
    }
    .veiw-small-round {
        top: 0px;
        left: 25px;
    }
    .veiw-list .tab-content::after {
        width: 300px;
        height: 300px;
        top: 50%;
        transform: translate(-50%, -13%);
    }
    .veiw-medium-round {
        width: 100px;
        height: 100px;
        bottom: -76px;
    }
    .veiw-list #v-pills-tab {
        right: 0;
        width: 100%;
        bottom: inherit;
        position: relative;
        flex-direction: row !important;
    }
    .text-img img {
        width: 100%;
    }
    .info-inner-left{
        width: 100%;
        box-shadow: -3px 4px 11px rgb(0 0 0 / 66%);
    }
    .tab-con .nav-tabs .nav-item{
        width: 33%;
    }
    .tab-con .nav-tabs .nav-link.active {
        padding: 7px 15px 6px 15px;
    }
    .info-inner-con {
        flex-direction: column;
        padding: 25px 15px 25px;
    }
    .info-inner-right{
        width: 100%;
    }
    .veiw-detalis span{
        font-size: 8px;
    }
    .info-inner-heading span{
        margin-left: 0;
        color: #385360;
    }
    .info-inner-left {
        margin-bottom: 15px;
    }
    .round-ball:before{
        left: 63%;
        top: 29px;
    }
    .info-inner-con:after {
        top: 75%;
        left: 72%;
        width: 80px;
        height: 80px;
    }
    .info-inner-con:before {
        top: -69px;
        left: -349px;
    }
    .term-small-round{
        left: 10px;
        bottom: 186px;
    }
    .info-items .account-info {
        margin-bottom: 28px;
        z-index: 10;
        position: relative;
    }
    .term-medium-round {
        top: 0;
        right: -35px;
        width: 80px;
        height: 80px;
    }
    .term2-medium-round{
        top: 22px;
        right: -29px;
        width: 80px;
        height: 80px;
    }
    .info-inner-heading {
        margin-bottom: 15px;
    }
    .term2-small-round {
        left: 10px;
        bottom: 270px;
    }
    .info-items .account-info{
        margin-bottom: 50px;
    }
    .info-items2 figure img{
        z-index: 3;
        position: relative;
    }
    .price-medium-round {
        width: 80px;
        height: 80px;
    }
    .price-small-round {
        right: 84px;
        top: 10px;
    }
    .pricing-table-title h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .info-sec {
        padding-bottom: 70px;
    }
    .footer-right-con li a{
        font-size: 13px;
    }
    .cta-content .cta-buttons a:first-child, .cta-content .cta-buttons a:last-child {
        padding: 7px 15px;
        width: 69%;
    }
    .cta-section {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .cta-content .cta-buttons a:first-child {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .footer-content {
        gap: 5px;
    }
    .footer-right-con li:last-child {
        padding-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .pricing-table-list {
        display: none;
    }
    .pricing-btn a {
        width: 105px;
        padding: 9px 22px;
    }
    .generic-btn a {
        font-size: 14px;
    }
    .pricing-table-item ul li::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        top: 3px;
        color: #4e4e4e;
        font-size: 12px;
    }
    .pricing-table-item {
        padding: 26px 15px;
    }
    .testimonial-text p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .testimonial-text img{
        width:150px;
    }
    .pricing-table-item ul li {
        text-align: right;
    }
} 